@import "tailwindcss";

:root {
  --main-bg-color: #05050D
}

*{
  outline: none;
}

.container {
  @apply max-w-[1240px] mx-auto px-5 sm:px-6 lg:px-8;
}

body {
  background-color: var(--main-bg-color);
  color: #fff;
  font-family: roboregular;
}

@font-face {
  font-family: "robotobold";
  src: url(../fonts/robotobold.ttf) format("truetype");
}

@font-face {
  font-family: "roboregular";
  src: url(../fonts/robotoregular.ttf) format("truetype");
}

.input[type="checkbox"] {
  @apply hidden;
}

.custom-checkbox {
  @apply inline-block w-5 h-5 rounded relative cursor-pointer border-2 border-solid border-[#333] after:content-[""] after:absolute after:-translate-x-2/4 after:-translate-y-2/4 after:w-2.5 after:h-2.5 after:bg-[#333] after:opacity-0 after:rounded-sm after:left-2/4 after:top-2/4;
}

.input[type="checkbox"]:checked + .custom-checkbox::after {
  @apply opacity-100;
}